* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins-Regular', sans-serif;
  background-color: var(--color-page-background) !important;
}

ul,li {
  padding: 0 !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  border-radius: 20% !important;
  background-color: transparent !important;
  border: 2px solid #000 !important;
  opacity: 1 !important;

}

.swiper-slide {
  margin-bottom: 50px !important;
}

.swiper-pagination-bullet-active {
  border-radius: 20% !important;
  background-color: #000 !important;
  border: 2px solid transparent !important;
}